version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=streamshare
    ports:
      - '5432:5432'
    volumes:
      - ./data:/var/lib/postgresql/data

volumes:
  db_data:
